#myContainer {
  width: 400px;
  height: 400px;
  position: relative;
}
#myAnimation {
  width: 30%;
  height: 60%;
  position: absolute;
  background-color: transparent;
  z-index: -2;  

}
#lien{
    background-color:white;
}
body{
    background-size:100% 100%;
    background-attachment: fixed;
    background-repeat:no-repeat;
}
#bulle{
    top:-5%;
    right:50%;
    width:40%;
    height:80%;
    position:absolute;
    z-index: -1;  

}

#bt-contact{
    z-index: 1;
    left:22%;
    top:43%;
    width:15%;
    font-size:70%;

    position: absolute;
   
}

#bt-autre{
    z-index: 1;
    left:22%;
    top:33%;
    font-size:70%;

    width:15%;
    position: absolute;

   
}