<footer>
    <div class="row">
        <div class="column">Site créé à l'occasion de la nuit de l'info 2019
          <div class="logo">
          <a href="https://twitter.com/nuitinfo" target="_blank">
              <img src="assets/LogoTwitter.png">
          </a>
        <a href="https://www.facebook.com/Nuit-De-LInfo-2019-104035161031309/" target="_blank" class="logo">
            <img src="assets/LogoFacebook.png">
          </a>
        </div>

        </div>
        <div class="column">Copyright ©	2019 Cheesy Team</div>
      </div>
</footer>
