<div class="container-fluid">
  <div class="row text-center">
    <div class="col-4">Site créé à l'occasion de la nuit de l'info 2019
      <div class="logo">
        <a href="https://twitter.com/nuitinfo" target="_blank">
          <img src="assets/LogoTwitter.png">
        </a>
        <a class="logo" href="https://www.facebook.com/Nuit-De-LInfo-2019-104035161031309/" target="_blank">
          <img src="assets/LogoFacebook.png">
        </a>
      </div>
    </div>
    <div class="col-4">
      <div class="small" routerLink="about">A propos de nous</div>
    </div>
    <div class="col-4">Copyright © 2019 Cheesy Team</div>
  </div>
</div>
