<div class="about_men">
  <h1>La Cheesy Team, c'est surtout ...</h1>
  <table>
    <!-- Aymeric -->
    <tr>
      <td>
        <img src="assets\about\8.png" alt="Aymeric">
      </td>
      <td>
        <a href="https://www.linkedin.com/in/aymericlefeyer/" target="_blank">
          <h3>Aymeric </h3>
        </a>
        <p>L'oncteux</p>
      </td>
    </tr>

    <!-- Conrad -->
    <tr>
      <td>
        <img src="assets\about\2.png" alt="Conrad">
      </td>
      <td>


        <a href="https://www.linkedin.com/in/conrad-baudelet-441a21160/" target="_blank">
          <h3>Conrad </h3>
        </a>
        <p>Le délicat </p>


      </td>
    </tr>

    <!-- Quentin -->
    <tr>
      <td>


        <img src="assets\about\4.png" alt="Quentin">


      </td>
      <td>


        <a href="https://www.linkedin.com/in/quentincarry/" target="_blank">
          <h3>Quentin </h3>
        </a>
        <p>Le savoureux</p>


      </td>
    </tr>

    <!-- Maxence -->
    <tr>
      <td>

        <img src="assets\about\3.png" alt="Maxence">


      </td>
      <td>

        <a href="https://www.linkedin.com/in/maxence-cloutier-06b409193/" target="_blank">
          <h3>Maxence </h3>
        </a>
        <p>L'original</p>

      </td>
    </tr>

    <!-- Flavien -->
    <tr>
      <td>

        <img src="assets\about\5.png" alt="Flavien">

      </td>
      <td>

        <a href="https://www.linkedin.com/in/flavien-carpentier-311a65151/" target="_blank">
          <h3>Flavien </h3>
        </a>
        <p>Le virevoltant</p>

      </td>
    </tr>

    <!-- Thomas -->
    <tr>
      <td>

        <img src="assets\about\1.png" alt="Thomas">

      </td>
      <td>

        <a href="https://www.facebook.com/thomas.bauduin.965" target="_blank">
          <h3>Thomas </h3>
        </a>
        <p>Le grand</p>

      </td>
    </tr>

    <!-- Antoine -->
    <tr>
      <td>

        <img src="assets\about\7.png" alt="Antoine">

      </td>
      <td>

        <a href="https://www.linkedin.com/in/antoine-balieu/" target="_blank">
          <h3>Antoine </h3>
        </a>
        <p>Le léger</p>

      </td>
    </tr>

    <!-- Mathis -->
    <tr>
      <td>

        <img src="assets\about\10.png" alt="Mathis">

      </td>
      <td>

        <a href="https://www.linkedin.com/in/mathisengels/" target="_blank">
          <h3>Mathis </h3>
        </a>
        <p>Le corsé</p>

      </td>
    </tr>

    <!-- Lilian -->
    <tr>
      <td>

        <img src="assets\about\9.png" alt="Lilian">

      </td>
      <td>

        <a href="https://www.linkedin.com/in/lilian-delouvy-813bb0198/" target="_blank">
          <h3>Lilian </h3>
        </a>
        <p>Le fin</p>

      </td>
    </tr>

    <!-- Anthony -->
    <tr>
      <td>

        <img src="assets\about\11.png" alt="Anthony">

      </td>
      <td>

        <a href="https://www.facebook.com/anthony.backer.7" target="_blank">
          <h3>Anthony </h3>
        </a>
        <p>L'industriel</p>

      </td>
    </tr>

    <!-- Valerian -->
    <tr>
      <td>

        <img src="assets\about\6.png" alt="Valerian">

      </td>
      <td>

        <a href="https://www.linkedin.com/in/val%C3%A9rian-bal-103084195/" target="_blank">
          <h3>Valerian </h3>
        </a>
        <p>L'absent</p>

      </td>
    </tr>

  </table>

  <h1>Ce qui devait arriver arriva ...</h1>
  <img src="assets\about\everybody.jpg" alt="Raclette" id="raclette">
  
</div>

