<div class="header-main">
  <div class="header-logo-holder">
    <img class="header-logo" routerLink="" src="assets/general/logo.png">
  </div>
  <div class="header-account">
    <div *ngIf="!connected" class="header-account-content" routerLink="login">
      <span class="header-account-disconnected-text text-primary">Se connecter</span>
      <fa-icon class="header-account-disconnected-icon" icon="user-circle" size="2x"></fa-icon>
    </div>
    <div *ngIf="connected" class="header-account-content" routerLink="profile">
      <img class="header-account-connected-image" src="assets/general/logo.png">
    </div>
  </div>
</div>
